<p id="notice"><%= notice %></p>

<h1>Ranty</h1>

<table>
  <thead>
    <tr>
      <th>Integrantes:</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Macarena Espinosa</td>
      </tr>
      <tr>
        <td>Joaquin Tellez</td>
      </tr>
      <tr>
      	<td><%= link_to 'Go To Users', users_path %></td>
      </tr>
      <tr>
      	<td><%= link_to 'New User', new_user_url %></td>
      </tr>
  </tbody>
</table>