/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.navbar {
	background-color: #b80000;
	height: 70px;
}
.navbar-brand {
	font-size: 40px;
}
#nav-search{
	border-radius: 12px;
}
#nav-search:hover {
	color: #b80000;
}

#new-post-btn {
	vertical-lignment: center;
	color: White;
}
#new-post-icon {
	font-size: 15px;
	padding: 5px;
}

.fa, .fas {
	font-size: 23px;
}
#vote {
	color: DarkGrey;
	font-size: 25px;
}
#vote:hover, .fa-caret-up:hover {
	color: Grey;
}

body {
	padding: 90px;
}

.input-group {
	width: 250px;
	horizontal-alignment: right;
}

.media {
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border: 0.5px;
	border-radius: 40px;
	border-style: solid;
	border-color: LightGrey;
	margin: 5px;
}
.media:hover {
	border-color: #b80000;
}
.post-title {
	font-size: 16px;
}
.post-info {
	font-size: 11px;
	color: Grey;
}